<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>PizzasShop</title>
</head>
<body>
<h2>Pizzas list</h2>
<form action="/helloWEBspringMVC/pizzas/cheap">
    <input type="submit" value="cheap pizza"/>
</form>
<form action="/helloWEBspringMVC/pizzas/standard">
    <input type="submit" value="standard pizza"/>
</form>
<form action="/helloWEBspringMVC/pizzas/expensive">
    <input type="submit" value="expensive pizza"/>
</form>
</body>
</html>